doctype html
head
  meta(charset='utf-8')
  title Climate Change
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='img/favicon.png' rel='icon')
  link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  // Bootstrap CSS File
  link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='css/style1.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
.click-closed
// / Form Search Start /
// / Nav Start /
nav.navbar.navbar-default.navbar-trans.navbar-expand-lg.fixed-top
  .container
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarDefault' aria-controls='navbarDefault' aria-expanded='false' aria-label='Toggle navigation')
      span
      span
      span
    a.navbar-brand.text-brand(href='/home')
      | Climate
      span.color-b Change
    button.btn.btn-link.nav-search.navbar-toggle-box-collapse.d-md-none(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
    #navbarDefault.navbar-collapse.collapse.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/dashboard') Dashboard
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Causes
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/deforestation') Deforestation
            a.dropdown-item(href='/emission') CO2 Emissions
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle.active(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Effects
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/globalwarming') Global Warming
            a.dropdown-item(href='/sealevel') Rising Sea Levels
            a.dropdown-item(href='/drought') Drought
            a.dropdown-item(href='/wildfire') Wildfires
        li.nav-item
          a.nav-link(href='/news') News & Feed
        //li.nav-item
          //a.nav-link(href='/manageArticles') Articles
        li.nav-item
          a.nav-link(href='/help') How Can I Help
// / Nav End /



// / Intro Single start /
section.intro-single
  .container
    .row
      .col-md-12.col-lg-8
        .title-single-box
          h1.title-single Drought
          span.color-text-a
            | "Globally, drought struck several major breadbasket regions simultaneously in 2012, adding to food price instability. In countries already facing food insecurity, cost spikes can lead to social unrest, migration, and famine."
// / Intro Single End /
// / News Single Star /
section.news-single.nav-arrow-b
  .container
    .row
      .col-sm-12
        .news-img-box
          img.img-fluid(src='img/drought.jpg' alt='')
      .col-md-10.offset-md-1.col-lg-8.offset-lg-2
        .post-content.color-text-a
          p.post-intro
            br
            | "Globally, drought struck several major breadbasket regions simultaneously in 2012, adding to food price instability. In countries already facing food insecurity, cost spikes can lead to social unrest, migration, and famine. The central and western US was hit particularly hard when 81 percent of the country was living in abnormally dry conditions, causing $30 billion in damages and putting the health and safety of many Americans at risk."
          p
            | While droughts can have different causes depending on the area of the world and other natural factors, the majority of scientists have started to link more intense droughts to climate change. That’s because as more greenhouse gas emissions are released into the air, causing air temperatures to increase, more moisture evaporates from land and lakes, rivers, and other bodies of water. Warmer temperatures also increase evaporation in plant soils, which affects plant life and can reduce rainfall even more. And when rainfall does come to drought-stricken areas, the drier soils it hits are less able to absorb the water, increasing the likelihood of flooding – a lose-lose situation.
          h5
            br
            strong What Are the Effects of Drought?
          p
            h6
              strong Agriculture
            | Droughts affect livestock and crops, including cornerstone commodities like corn, soybeans, and wheat. At the height of the 2012 drought, the U.S. Department of Agriculture declared a natural disaster over 2,245 counties, 71 percent of the United States.
          p
            h6
              strong Transportation
            | Droughts can affect water levels on rivers of commerce like the Mississippi. Transport barges need at least nine feet of water, and to maintain this level, the U.S. Army Corps of Engineers had to blast, dredge, and clear obstructions on a key stretch of the Mississippi in 2013.
          p
            h6
              strong Wildfires
            | Drought conditions and record heat have fueled damaging and sometimes deadly wildfires in the U.S. West. Millions of forested acres and thousands of homes have been lost over the past decade due to fires thriving in dry, stressed forests and the proximity of communities to fire-prone forests.
          p
            h6
              strong Energy
            | Droughts can raise concerns about the reliability of electricity production from plants that require cooling water to maintain safe operations. Hydroelectric power may also become unavailable during droughts. When heat waves coincide with droughts, electricity demands can grow, compounding stress on the grid.
// / News Single End /

a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader
  // JavaScript Libraries
  script(src='lib/jquery/jquery.min.js')
  script(src='lib/jquery/jquery-migrate.min.js')
  script(src='lib/popper/popper.min.js')
  script(src='lib/bootstrap/js/bootstrap.min.js')
  script(src='lib/easing/easing.min.js')
  script(src='lib/owlcarousel/owl.carousel.min.js')
  script(src='lib/scrollreveal/scrollreveal.min.js')
  // Contact Form JavaScript File
  script(src='contactform/contactform.js')
  // Template Main Javascript File
  script(src='js/main.js')

