doctype html
head
  meta(charset='utf-8')
  title Climate Change
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='img/favicon.png' rel='icon')
  link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  // Bootstrap CSS File
  link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='css/style1.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
.click-closed
// / Form Search Start /
// / Nav Start /
nav.navbar.navbar-default.navbar-trans.navbar-expand-lg.fixed-top
  .container
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarDefault' aria-controls='navbarDefault' aria-expanded='false' aria-label='Toggle navigation')
      span
      span
      span
    a.navbar-brand.text-brand(href='/home')
      | Climate
      span.color-b Change
    button.btn.btn-link.nav-search.navbar-toggle-box-collapse.d-md-none(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
    #navbarDefault.navbar-collapse.collapse.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/dashboard') Dashboard
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Causes
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/deforestation') Deforestation
            a.dropdown-item(href='/emission') CO2 Emissions
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Effects
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/globalwarming') Global Warming
            a.dropdown-item(href='/sealevel') Rising Sea Levels
            a.dropdown-item(href='/drought') Drought
            a.dropdown-item(href='/wildfire') Wildfires
        li.nav-item
          a.nav-link(href='/news') News & Feed
        //li.nav-item
          //a.nav-link(href='/manageArticles') Articles
        li.nav-item
          a.nav-link(href='/help') How Can I Help
// / Nav End /

h2
  | Donate to the Organizations Fighting Against Climate Change
// / Property Grid Star /
section.property-grid.grid
  br
  br
  br
  br
  .container
    h2(align='center')
      | Donate to the Organizations Fighting Against Climate Change
      br
      br
    .row
      .col-md-4
        .card-box-a.card-shadow
          .img-box-a(style='width:350px; height:350px')
            img.img-a.img-fluid(src='img/donate-1.jpg' alt='')
          .card-overlay
            .card-overlay-a-content
              .card-header-a
                h2.card-title-a
                  | The Climate Project
              .card-body-a
                a.link-a(href='https://www.climaterealityproject.org/donate/donate-climate-reality-project')
                  | Click here to donate
                  span.ion-ios-arrow-forward
      .col-md-4
        .card-box-a.card-shadow
          .img-box-a(style='width:350px; height:350px')
            img.img-a.img-fluid(src='img/donate-2.jpg' alt='')
          .card-overlay
            .card-overlay-a-content
              .card-header-a
                h2.card-title-a
                  | Environmental Defense Fund
              .card-body-a
                a.link-a(href='https://www.edf.org/')
                  | Click here to donate
                  span.ion-ios-arrow-forward
      .col-md-4
        .card-box-a.card-shadow
          .img-box-a(style='width:350px; height:350px')
            img.img-a.img-fluid(src='img/donate-3.png' alt='')
          .card-overlay
            .card-overlay-a-content
              .card-header-a
                h2.card-title-a
                  | Union of Concerned Scientists
              .card-body-a
                a.link-a(href='https://ucsusa.org/about?gclid=CjwKCAiAzuPuBRAIEiwAkkmOSBaAEOYbYkMwATQekb61gX6kKFI63pyLWm2-rHfLWedX1tIOCiQGmhoC8_QQAvD_BwE')
                  | Click here to donate
                  span.ion-ios-arrow-forward
      .col-md-4
        .card-box-a.card-shadow
          .img-box-a(style='width:350px; height:350px')
            img.img-a.img-fluid(src='img/donate-4.jpg' alt='')
          .card-overlay
            .card-overlay-a-content
              .card-header-a
                h2.card-title-a
                  | Green Climate Fund
              .card-body-a
                a.link-a(href='https://www.greenclimate.fund/home')
                  | Click here to donate
                  span.ion-ios-arrow-forward
      .col-md-4
        .card-box-a.card-shadow
          .img-box-a(style='width:350px; height:350px')
            img.img-a.img-fluid(src='img/donate-5.png' alt='')
          .card-overlay
            .card-overlay-a-content
              .card-header-a
                h2.card-title-a
                  | Friends of the Earth
              .card-body-a
                a.link-a(href='https://foe.org/')
                  | Click here to donate
                  span.ion-ios-arrow-forward
      .col-md-4
        .card-box-a.card-shadow
          .img-box-a(style='width:350px; height:350px')
            img.img-a.img-fluid(src='img/donate-6.png' alt='')
          .card-overlay
            .card-overlay-a-content
              .card-header-a
                h2.card-title-a
                  | Natural Resources Defense Council
              .card-body-a
                a.link-a(href='https://www.nrdc.org/')
                  | Click here to donate
                  span.ion-ios-arrow-forward
// / Property Grid End /

// / News Single Star /
section.news-single.nav-arrow-b
  .container
    .row
      .col-md-10.offset-md-1.col-lg-8.offset-lg-2
        .post-content.color-text-a
          br
          h2(align='center')
            br
            | Other Ways to Help
          br            
          h4
            br
            | Reduce Your Carbon Footprint (5 R's)
          br
          p
            | 1) Refuse: Avoid using plastics and paper only for one time use.
          p
            | 2) Reduce: Downsize purchases and use only what is needed.
          p
            | 3) Reuse: Prevent items from being sent to landfill by extending longevity of products used.
          p
            | 4) Rot: Create a compost syses for food scraps.
          p
            | 5) Recycle: Properly recycle any plastic, paper, glass, or metal that you encounter.
          br
          h4
            | Common Practices in Reducing Carbon Footprint
          br
          p
            | 1) Conserve water 
          p
            | 2) Bike more Drive less
          p
            | 3) Eat seasonally
          p
            | 4) Switch to sustainable and clean energy
          p
            | 5) Spread the word!

// / News Single End /


a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader
  // JavaScript Libraries
  script(src='lib/jquery/jquery.min.js')
  script(src='lib/jquery/jquery-migrate.min.js')
  script(src='lib/popper/popper.min.js')
  script(src='lib/bootstrap/js/bootstrap.min.js')
  script(src='lib/easing/easing.min.js')
  script(src='lib/owlcarousel/owl.carousel.min.js')
  script(src='lib/scrollreveal/scrollreveal.min.js')
  // Contact Form JavaScript File
  script(src='contactform/contactform.js')
  // Template Main Javascript File
  script(src='js/main.js')

