doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery.canvasjs.min.js')
  script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  script(type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.js')
  script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

  
  link(rel='stylesheet' href='../stylesheets/homepage.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../stylesheets/navbar.css')
  link(rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
  link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-darkness/jquery-ui.css' type='text/css' rel='stylesheet')
  

  
//ul
//  li
//    a(href='/home') Articles 
//  li
//    a(href='/profile') Profile 
//  li 
//    if(userName)
    a(href='/login/signout') Sign Out
    
    
    
    // function that fetches the articles on page load START
    
script.
    $(document).ready(function(){
    console.log('calling ajax');
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: []}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList').append(resultRows);
    },
    });
     // function that fetches the articles on page load END
    
    
    
    
    
    //filter on click of search START
    
    $('#search').click(function(){
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: [$('#input').val()]}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    );
    });
    //filter on click of search END
    
    
    
    
    
   
    
    
    
    
    //filter as you drag and drop START
    
    function dragDropArticles(tags) {
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: tags}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    //filter as you drag and drop END

    // tabs
    $( function tabs() {
    $( "#tabs" ).tabs();
    } );

    //tooltip
    $( function() {
    $( document ).tooltip();
    } );


    // graphs START
    $(function(){
    $('#graphForm').submit(function(event) {
    event.preventDefault();
    var featureType = $("#feature").val();
    jQuery.ajax({
    url: '/graph?type='+featureType,
    success: function(json) {
    console.log(json);
    $("#chartContainer").CanvasJSChart(json);
    },
    });
    });
    });
 // graphs END
 
 
 
   //reset START
    
    function reset() {
    $(".tags").animate({
    top: "0px",
    left: "0px"
    });
    dragDropArticles([]);
    }
    //reset END
 


#tabs
  ul
    li
      a(href='#tabs-1') Tab 1
    li
      a(href='#tabs-2') Tab 2

  #tabs-1

    table
      tr
        td 
          .tags.ui-widget-content
            p Forest
        td
          .tags.ui-widget-content
            p Global Warming
        td
          .tags.ui-widget-content
            p Climate
        td
          .tags.ui-widget-content
            p Carbon Emission
        td
          .tags.ui-widget-content
            p Footprint
        td
          .tags.ui-widget-content
            p Fire
        td
          .droppable.ui-widget-header
            p Drop tags here to search Articles
        
      
  

   
    

    //input#input(type='text' onkeyup='filterArticles()' placeholder='Search for articles..' title='Type in a topic name for related articles')
    br
    //button#reset Reset
    button(type='button' onclick='reset()') Reset
    br

    h2 Learn About Climate Change

    table#articleList
      tr
        th ARTICLES
  #tabs-2
    br
    h2 Learn About Climate Change
    br
    p The Earth's climate has changed throughout history. Just in the last 650,000 years there have been seven cycles of glacial advance and retreat, with the abrupt end of the last ice age about 7,000 years ago marking the beginning of the modern climate era and of human civilization. Most of these climate changes are attributed to very small variations in Earth's orbit that change the amount of solar energy our planet receives.
    p checkout the past years data in graphical representation. Sign in for more details and articles !

    br
    form#graphForm.form-inline(action='')
      select.rounded.buttonOnHome#feature
        option(value='temp') Avg Temparature
        option(value='rain') Avg Rainfall
      button.buttonOnHome.rounded(type='submit' style='') View Graph
    br
    .resizable.ui-widget-content
      p resize
    br
    #chartContainer(style='height: 300px; width: 90%;')







script.
  $( function() {
  var tagList=[];
  
  $( ".tags" ).draggable(
  {
  revert: false,
  start: function(event, ui) {
  var index = tagList.indexOf($(this).text());
  if (index > -1) {
  tagList.splice(index, 1);
  }
  },
  stop: function(even, ui) {
  dragDropArticles(tagList);
  }
  });
  
  $( ".droppable" ).droppable({
  drop: function(event, ui){
  tagList.push($(ui.draggable).text());
  dragDropArticles(tagList);
  }
  });
  });
  

script.  
  $( function() {
  $( ".resizable" ).resizable(
  {
  minWidth: 400,
  minHeight: 400
  });
  });
  
