doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  script(type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery.canvasjs.min.js')
  script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

  link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(rel='stylesheet' href='../stylesheets/homepage.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../stylesheets/navbar.css')
  link(rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
  link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/eggplant/jquery-ui.css' type='text/css' rel='stylesheet')



  
//ul
//  li
//    a(href='/home') Articles 
//  li
//    a(href='/profile') Profile 
//  li 
//    if(userName)
    a(href='/login/signout') Sign Out
    
    
    
    // function that fetches the articles on page load START
    
script.
    $(document).ready(function(){
    console.log('calling ajax');
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: []}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList').append(resultRows);
    },
    });
     // function that fetches the articles on page load END
    
    
    
    //filter on click of search START
    
    $('#search').click(function(){
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: [$('#input').val()]}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    );
    });
    //filter on click of search END
    


    //filter as you drag and drop START
    
    function dragDropArticles(tags) {
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: tags}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    //filter as you drag and drop END


    function filterArticles() {
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: [$('#input').val()]}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    //filter as you type END

    

    // tabs
    $( function tabs() {
    $( "#tabs" ).tabs({
    beforeLoad: function( event, ui ) {
    ui.jqXHR.fail(function() {
    ui.panel.html(
    "Couldn't load this tab. We'll try to fix this as soon as possible. " +
    "If this wouldn't be a demo." );
    });
    }
    });
    } );

    //tooltip
    $( function() {
    $( document ).tooltip();
    } );


    // graphs START
    $(function(){
    $('#graphForm').submit(function(event) {
    event.preventDefault();
    var featureType = $("#feature").val();
    jQuery.ajax({
    url: '/graph?type='+featureType,
    success: function(json) {
    console.log(json);
    $("#chartContainer").CanvasJSChart(json);
    },
    });
    });
    });
    // graphs END
 
 
 
    //reset START
    function reset() {
    $(".tags").animate({
    top: "0px",
    left: "0px"
    });
    dragDropArticles([]);
    }
    //reset END
 


#tabs
  ul
    li
      a(href='#tabs-1') Articles
    li
      a(href='#tabs-2') Graphs
    li 
      a(href='#tabs-3') Profile
      li    
      if(userName)
        a(href='/login/signout') Sign Out
      li
      h4 Welcome #{userName}


  #tabs-1

    table
      tr
        td 
          .tags.ui-widget-content
            p Forest
        td
          .tags.ui-widget-content
            p Global Warming
        td
          .tags.ui-widget-content
            p Climate
        td
          .tags.ui-widget-content
            p Carbon Emission
        td
          .tags.ui-widget-content
            p Footprint
        td
          .tags.ui-widget-content
            p Fire
        td
          .droppable.ui-widget-header
            p Drop tags here to search Articles
  
   
    br
    button(type='button' onclick='reset()' title='Reset all the tags') Reset
    br
    br
    br
    br
    input#input(type='text' onkeyup='filterArticles()' placeholder='Search...' title='Type in a topic name for related articles')
  
    br
    br
    br
    h2 Learn About Climate Change

    table#articleList
      tr
        th ARTICLES
  #tabs-2
    br
    h2 Learn About Climate Change
    br
    p The Earth's climate has changed throughout history. Just in the last 650,000 years there have been seven cycles of glacial advance and retreat, with the abrupt end of the last ice age about 7,000 years ago marking the beginning of the modern climate era and of human civilization. Most of these climate changes are attributed to very small variations in Earth's orbit that change the amount of solar energy our planet receives. Checkout the past years data in graphical representation!

    br
    form#graphForm.form-inline(action='')
      select.rounded.buttonOnHome#feature
        option(value='temp') Avg Temparature
        option(value='rain') Avg Rainfall
        option(value='deforest') Deforestation
        option(value='carbonEm') Carbon Emission
      button.buttonOnHome.rounded(type='submit' style='') View Graph
    br
    .resizable.ui-widget-content(style='height: 450px; width:450px')
      p resizable graphs
      #chartContainer(style='height: 80%; width: 100%;')
    br


  #tabs-3
    br
    p Username: #{userName}
    img#profile-pic(alt='pic')
    h2
    |  Profile Picture
    input#profile_pic(type='file')
    p#breaks
    
    script.
      var text = "";
      var i;
      for (i = 0; i < 20; i++) {
      text += "<br>";
      }
      document.getElementById("breaks").innerHTML = text;


style. 
    #profile-pic {
        object-fit: cover;
        width: 100px;
        height: 100px;
        float: left; 
    }


script.
  $( function() {
  var tagList=[];
  
  $( ".tags" ).draggable(
  {
  revert: false,
  start: function(event, ui) {
  var index = tagList.indexOf($(this).text());
  if (index > -1) {
  tagList.splice(index, 1);
  }
  },
  stop: function(even, ui) {
  dragDropArticles(tagList);
  }
  });
  
  $( ".droppable" ).droppable({
  drop: function(event, ui){
  tagList.push($(ui.draggable).text());
  dragDropArticles(tagList);
  }
  });
  });
  

script.  
  $( function() {
  $( ".resizable" ).resizable(
  {
  //alsorResize:'#chartContainer',
  minWidth: 200,
  minHeight: 200,
  resize: function(event, ui) {
  $('#chartContainer').CanvasJSChart().render();
  },
  });
  });
  

script.
  $( function() {
    var availableTags = [
      "Deforestation",
      "Climate",
      "Trees",
      "Fires",
      "Carbon Footprint",
      "Carbon Emission",
      "Animals",
      "Plants",
      "Fossil Fuel",
      "NASA",
      "Forest",
      "Wildfires",
    ];
    $( "#input" ).autocomplete({
      source: availableTags
    });
  } );
  
