doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  script(type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  script(type='text/javascript' src='https://canvasjs.com/assets/script/jquery.canvasjs.min.js')
  script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

  link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(rel='stylesheet' href='../stylesheets/homepage.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../stylesheets/navbar.css')
  link(rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
  link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/eggplant/jquery-ui.css' type='text/css' rel='stylesheet')



  
//ul
//  li
//    a(href='/home') Articles 
//  li
//    a(href='/profile') Profile 
//  li 
//    if(userName)
//    a(href='/login/signout') Sign Out
    
    
    
    // function that fetches the articles on page load START
    
script.
    $(document).ready(function(){
    console.log('calling ajax');
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: []}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList').append(resultRows);
    },
    });
     // function that fetches the articles on page load END
    
    
    
    //filter on click of search START
    
    $('#search').click(function(){
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: [$('#input').val()]}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    );
    });
    //filter on click of search END
    


    //filter as you drag and drop START
    
    function dragDropArticles(tags) {
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: tags}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    //filter as you drag and drop END


    function filterArticles() {
    jQuery.ajax({
    contentType: 'application/json',
    url: '/articles',
    type:'POST',
    data: JSON.stringify({queries: [$('#input').val()]}),
    success: function(data) {
    var resultRows= '';
    $.each(data.articles, function (i, item) {
    resultRows += '<tr><td><a href="' + item.url + '">' + item.name + '</a></td></tr>';
    });
    $('#articleList tr').remove();
    $('#articleList').append(resultRows);
    },
    });
    }
    //filter as you type END

    

    // tabs
    $( function tabs() {
    $( "#tabs" ).tabs({
    beforeLoad: function( event, ui ) {
    ui.jqXHR.fail(function() {
    ui.panel.html(
    "Couldn't load this tab. We'll try to fix this as soon as possible. " +
    "If this wouldn't be a demo." );
    });
    }
    });
    } );



#tabs
  ul
    li
      a(href='#tabs-1') Articles
      

  #tabs-1
  
    table(style='width:100%')
      tr
        th(align='left') 
          h4 Welcome Admin
        th(align='right')
          a(href='/login/signout') Sign Out

    table
      tr
        td 
            p Manage the Articles !
      tr
        td 
            p We can have buttons here (For Anjani, Archna & Divya)
  
    each article in ArticleList
      br
      a(href=article.Link)= article.Name   
      
    
    
    
    
 


  



  
