doctype html
head
  meta(charset='utf-8')
  title Climate Change
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='img/favicon.png' rel='icon')
  link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  // Bootstrap CSS File
  link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='css/style1.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
.click-closed
// / Form Search Star /
// / Nav Star /
nav.navbar.navbar-default.navbar-trans.navbar-expand-lg.fixed-top
  .container
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarDefault' aria-controls='navbarDefault' aria-expanded='false' aria-label='Toggle navigation')
      span
      span
      span
    a.navbar-brand.text-brand(href='/home')
      | Climate
      span.color-b Change
    button.btn.btn-link.nav-search.navbar-toggle-box-collapse.d-md-none(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
    #navbarDefault.navbar-collapse.collapse.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/dashboard') Dashboard
        li.nav-item
          a.nav-link(href='/manageArticles') Causes
        li.nav-item
          a.nav-link(href='/manageArticles') Effects
        li.nav-item
          a.nav-link(href='/manageArticles') New & Feed
        li.nav-item
          a.nav-link(href='/manageArticles') Resources
        li.nav-item
          a.nav-link.active(href='/manageArticles') Articles
// / Nav End /
// / Carousel Star /
.intro.intro-carousel
  .carousel-item-a.intro-item.bg-image
    .overlay.overlay-a
    .intro-content.display-table
      .table-cell
        .row
          .intro-body     
            .search
              br 
              br
              br
              //- input.searchTerm(type='text', name='searchInput', placeholder='Search Article?')
              //- button.searchButton(type='submit')
              //- i.fa.fa-search
            each article in ArticleList
              br
              input(type='checkbox' name='articles' value=article._id )
              a(href=article.Link)= article.Name
              br
              br
            table(style='width:100%')
               tr
                td(style='width:33%')
                  form(method='post')
                    fieldset
                      legend Delete
                      p
                        button.deletebtn(type='button') Delete
                td(style='width:33%')
                  form(method='post')
                    fieldset
                      legend Update
                      p
                        label Name:
                        input(name='newname' type='text')
                      p
                        button.updatebtn(type='button') Update
                td(style='width:33%')
                  form(action='/manageArticles/addArticle' method='post')
                    fieldset
                      legend Add Articles
                      p
                        label Name:
                        input(name='name' type='text')
                      p
                        label Link:
                        input(name='link' type='text')
                      p
                        button(type='submit' value='Submit') Add
            style.
              button
              {
              margin:5px;
              }   
// / Carousel end /
a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader
// JavaScript Libraries
script(src='lib/jquery/jquery.min.js')
script(src='lib/jquery/jquery-migrate.min.js')
script(src='lib/popper/popper.min.js')
script(src='lib/bootstrap/js/bootstrap.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/scrollreveal/scrollreveal.min.js')
// Contact Form JavaScript File
script(src='contactform/contactform.js')
// Template Main Javascript File
script(src='js/main.js')
script.
  $(document).ready(function(){
  $('input:checkbox').click(function() {
  $('input:checkbox').not(this).prop('checked', false);
  });
  });
//delete article
script.
  $(document).ready(function(){
  $(".deletebtn").click(function(){
  var id = $(":checkbox:checked").map(function() { return $(this).val(); }).get();
  jQuery.ajax({
  contentType: 'application/json',
  url: '/delete',
  type:'POST',
  data: JSON.stringify({queries: [id]}),
  });
  alert("Article Successfully Deleted!");
  location.reload(true);
  });
  });
//update article
script.
  $(document).ready(function(){
  $('#updatebtn').click(function(){
  $('#formHidden').toggle();
  });
  });
script.
  $(document).ready(function(){
  $(".updatebtn").click(function(){
  var id = $(":checkbox:checked").map(function() { return $(this).val(); }).get();
  var newname = $('[name="newname"]').val();
  info = [];
  info[0] = id;
  info[1] = newname;
  console.log("NEW NAME: " + newname)
  jQuery.ajax({
  contentType: 'application/json',
  url: '/update',
  type:'POST',
  data: JSON.stringify({queries: [info]}),
  });
  alert("Article Successfully Updated!");
  location.reload(true);
  });
  });
//search3
script.
  $(document).ready(function(){
  $(".searchButton").click(function(){
  var searchinput = $('[name="searchInput"]').val();
  //- window.location.href = href='/manageArticles/search?q='+searchinput;
  window.location.assign(href='/manageArticles/search?q='+searchinput);
  });
  });