doctype html
head
  meta(charset='utf-8')
  title Climate change
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='img/favicon.png' rel='icon')
  link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  // Bootstrap CSS File
  link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='css/style1.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
.click-closed
// / Form Search Star /
// / Nav Star /
nav.navbar.navbar-default.navbar-trans.navbar-expand-lg.fixed-top
  .container
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarDefault' aria-controls='navbarDefault' aria-expanded='false' aria-label='Toggle navigation')
      span
      span
      span
    a.navbar-brand.text-brand
      | Climate
      span.color-b Change
    button.btn.btn-link.nav-search.navbar-toggle-box-collapse.d-md-none(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
    #navbarDefault.navbar-collapse.collapse.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/dashboard') Dashboard
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Causes
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/deforestation') Deforestation
            a.dropdown-item(href='/emission') CO2 Emissions
            a.dropdown-item(href='/emission') Fossil Fuel Combustion
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Effects
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='property-single.html') Snow cap
            a.dropdown-item(href='blog-single.html') Sea Level
            a.dropdown-item(href='blog-single.html') Temperature
            a.dropdown-item(href='blog-single.html') Future Predictions
        li.nav-item
          a.nav-link(href='/manageArticles') Donate
        li.nav-item
          a.nav-link.active(href='/manageArticles') New & Feed
        //li.nav-item
          //a.nav-link(href='/manageArticles') Articles
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | More
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='property-single.html') Articles on solution
            a.dropdown-item(href='blog-single.html') How can I help
            a.dropdown-item(href='blog-single.html') Resources
// / Nav End /




// / Property Grid Star /
br
br
br
br
section.property-grid.grid
  .container
    .row
      each x in News
        .col-md-4
          .card-box-a.card-shadow
            .img-box-a
              img.img-a.img-fluid(src='img/property-1.jpg' alt='')
            .card-overlay
              .card-overlay-a-content
                .card-header-a
                  h2.card-title-a
                    a(href="mailto:#{x.name}")= x.name
                .card-body-a
                  a.link-a(href='https://climate.nasa.gov/news/2934/new-earth-mission-will-track-rising-oceans-into-2030/')
                    | Click here to view
                    span.ion-ios-arrow-forward
// / Property Grid End /




  a.back-to-top(href='#')
    i.fa.fa-chevron-up
  #preloader
  // JavaScript Libraries
  script(src='lib/jquery/jquery.min.js')
  script(src='lib/jquery/jquery-migrate.min.js')
  script(src='lib/popper/popper.min.js')
  script(src='lib/bootstrap/js/bootstrap.min.js')
  script(src='lib/easing/easing.min.js')
  script(src='lib/owlcarousel/owl.carousel.min.js')
  script(src='lib/scrollreveal/scrollreveal.min.js')
  // Contact Form JavaScript File
  script(src='contactform/contactform.js')
  // Template Main Javascript File
  script(src='js/main.js')

