doctype html
head
  meta(charset='utf-8')
  title Climate Change
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='img/favicon.png' rel='icon')
  link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  // Bootstrap CSS File
  link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='lib/animate/animate.min.css' rel='stylesheet')
  link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='css/style1.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
.click-closed
// / Form Search Start /
// / Nav Start /
nav.navbar.navbar-default.navbar-trans.navbar-expand-lg.fixed-top
  .container
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarDefault' aria-controls='navbarDefault' aria-expanded='false' aria-label='Toggle navigation')
      span
      span
      span
    a.navbar-brand.text-brand(href='/home')
      | Climate
      span.color-b Change
    button.btn.btn-link.nav-search.navbar-toggle-box-collapse.d-md-none(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
    #navbarDefault.navbar-collapse.collapse.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/dashboard') Dashboard
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Causes
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/deforestation') Deforestation
            a.dropdown-item(href='/emission') CO2 Emissions
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle.active(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Effects
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/globalwarming') Global Warming
            a.dropdown-item(href='/sealevel') Rising Sea Levels
            a.dropdown-item(href='/drought') Drought
            a.dropdown-item(href='/wildfire') Wildfires
        li.nav-item
          a.nav-link(href='/news') News & Feed
        //li.nav-item
          //a.nav-link(href='/manageArticles') Articles
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | More
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/help') How Can I Help
            a.dropdown-item(href='blog-single.html') Resources
// / Nav End /


// / Intro Single start /
section.intro-single
  .container
    .row
      .col-md-12.col-lg-8
        .title-single-box
          h1.title-single Sea Level
          span.color-text-a
            | "Sea level rise since the start of the 20th century has been dominated by retreat of glaciers and expansion of the ocean, but the contributions of the two large ice sheets (Greenland and Antarctica) are expected to increase in the 21st century."
// / Intro Single End /
// / News Single Star /
section.news-single.nav-arrow-b
  .container
    .row
      .col-sm-12
        .news-img-box
          img.img-fluid(src='img/sealevels.jpeg' alt='')
      .col-md-10.offset-md-1.col-lg-8.offset-lg-2
        .post-content.color-text-a
          p.post-intro
            br
            | "Sea level rise since the start of the 20th century has been dominated by retreat of glaciers and expansion of the ocean, but the contributions of the two large ice sheets (Greenland and Antarctica) are expected to increase in the 21st century."
          p
            | The three main reasons warming causes global sea level to rise are: oceans expand, ice sheets lose ice faster than it forms from snowfall, and glaciers at higher altitudes also melt. Rising global sea level is a critical consequence of climate change. As ocean waters warm, they expand. Also, as air temperatures warm, water from melting ice sheets, polar ice caps, and glaciers enters into our ocean basins.

          p
           | Global average sea level has risen by about 7-8 inches (about 16-21 cm) since 1900 , with about 3 of those inches (about 7 cm) occurring since 1993. Rising seas dramatically increase the odds of damaging floods from storm surges. A Climate Central analysis finds that sea level rise from warming has already doubled the odds of century or worse floods over widespread areas of the U.S., and the problem is growing by the decade.These increases threaten an enormous amount of damage. Across the country, nearly 5 million people live in 2.6 million homes at less than 4 feet above high tide a level lower than the century flood line for most locations analyzed. And compounding this risk, scientists expect roughly 2 to 5 more feet of sea level rise this century a lot depending upon how much more heat-trapping pollution humanity puts into the sky.
      .col-sm-8(style='position: relative; margin:0 auto;')
        div(align='center')
          #viz1574573165134.tableauPlaceholder(style='position: relative')
            noscript
              a(href='#')
                img(alt=' ', src='https://public.tableau.com/static/images/se/sealevel_15745731438970/Sheet1/1_rss.png', style='border: none')
            object.tableauViz(style='display:none;')
              param(name='host_url', value='https%3A%2F%2Fpublic.tableau.com%2F')
              param(name='embed_code_version', value='3')
              param(name='site_root', value='')
              param(name='name', value='sealevel_15745731438970/Sheet1')
              param(name='tabs', value='no')
              param(name='toolbar', value='yes')
              param(name='static_image', value='https://public.tableau.com/static/images/se/sealevel_15745731438970/Sheet1/1.png')
              param(name='animate_transition', value='yes')
              param(name='display_static_image', value='yes')
              param(name='display_spinner', value='yes')
              param(name='display_overlay', value='yes')
              param(name='display_count', value='yes')
              param(name='filter', value='publish=yes')
          script(type='text/javascript').
            var divElement = document.getElementById('viz1574573165134');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);






// / News Single End /

a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader
  // JavaScript Libraries
  script(src='lib/jquery/jquery.min.js')
  script(src='lib/jquery/jquery-migrate.min.js')
  script(src='lib/popper/popper.min.js')
  script(src='lib/bootstrap/js/bootstrap.min.js')
  script(src='lib/easing/easing.min.js')
  script(src='lib/owlcarousel/owl.carousel.min.js')
  script(src='lib/scrollreveal/scrollreveal.min.js')
  // Contact Form JavaScript File
  script(src='contactform/contactform.js')
  // Template Main Javascript File
  script(src='js/main.js')

