@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;

  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(101, 33, 133);
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(101, 33, 133);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(101, 33, 133);
  background:rgb(101, 33, 133);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

